*, *:after, *:before {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  background: #28323f;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.lg-container {
  max-width: 1400px;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #28323f;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff5e00;
}

.accent-title {
  position: relative;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fbfbfb;
}
.accent-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #ff5e00;
  bottom: -5px;
  left: 0;
}

.to-top {
  display: none;
  position: fixed;
  bottom: 30px;
  border: none;
  background: #ff5e00;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  right: 30px;
  z-index: 99;
}

.active-top {
  display: block;
}

.header {
  background: #28323f;
  height: 80px;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.header-wrapper .logo {
  display: flex;
  max-width: 125px;
  height: 80px;
}
.header-wrapper .menu {
  display: flex;
}
.header-wrapper .menu-item {
  list-style: none;
  margin-right: 25px;
}
.header-wrapper .menu-link {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  transition: 0.4s ease;
}
.header-wrapper .menu-link:hover {
  color: #ff5e00;
}
.header-wrapper .m-menu {
  display: none;
}
.header-wrapper .active-btn {
  color: #ff5e00;
}
.header-wrapper .phone {
  display: flex;
  align-items: center;
  width: 200px;
}
.header-wrapper .phone-img {
  max-width: 25px;
  margin-right: 10px;
}
.header-wrapper .phone-link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease;
}
.header-wrapper .phone-link:hover {
  color: #ff5e00;
}

.main {
  background-image: url("../img/photo-main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-wrapper {
  max-width: 800px;
  margin-left: 100px;
  color: #fff;
}
.main-title {
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-top: 100px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.main-ol {
  padding: 0;
  counter-reset: main;
}
.main-ol-li {
  position: relative;
  list-style: none;
  padding: 17px 0 17px 30px;
  background: #EBF3FA;
  color: #000000;
  font-size: 16px;
  border: 2px solid #267ac3;
  margin-bottom: 13px;
  max-width: 720px;
  cursor: default;
  transition: all 0.3s;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.main-ol-li::before {
  counter-increment: main;
  content: counter(main);
  position: absolute;
  background: #267ac3;
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
  width: 40px;
  height: 30px;
  top: 12px;
  left: -40px;
}
.main-ol-li::after {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-left: 15px solid #267ac3;
  top: 12px;
  left: 0;
}
.main-ol-li:hover {
  background: #ffffff;
}
.main-ol-li:hover::before {
  width: 45px;
}
.main-ol-li:hover::after {
  left: 5px;
}
.main-btn {
  border: 3px solid #ffffff;
  background: #28323f;
  color: #ffffff;
  padding: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
  margin-bottom: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.main-btn:hover {
  background: #20202D;
}

.about {
  padding-top: 50px;
  color: #ffffff;
}
.about-title {
  margin: 0 auto 50px;
  max-width: 667px;
  text-align: center;
  font-size: 32px;
}
.about-desc, .about .second-desc {
  font-weight: 400;
  line-height: 1.4;
  font-size: 19px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}
.about .second-title {
  display: inline-block;
  margin: 50px 0 30px;
  font-size: 26px;
}
.about .services-title {
  margin-bottom: 50px;
  margin-top: 0;
  padding-top: 50px;
}
.about .cards {
  display: flex;
  flex-wrap: wrap;
}
.about .cards .card {
  display: flex;
  flex-direction: column;
  max-width: 292px;
  background: #fbfbfb;
  color: #080808;
  margin-right: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  box-shadow: 12px 19px 19px 3px rgba(0, 0, 0, 0.534);
  transition: 0.3s ease;
}
.about .cards .card:nth-child(4n+4) {
  margin-right: 0;
}
.about .cards .card:hover {
  box-shadow: 12px 19px 19px 3px rgba(255, 255, 255, 0.1);
}
.about .cards .card-img {
  max-width: 100%;
  height: 200px;
  transition: 0.3s ease;
}
.about .cards .card-img:hover {
  transform: scale(1.1);
}
.about .cards .card-title {
  text-align: center;
  font-size: 21px;
  cursor: default;
  font-weight: bold;
  padding: 12px 0;
}
.about .cards .card-list {
  counter-reset: list;
}
.about .cards .card-list__item {
  position: relative;
  display: inline-block;
  width: 260px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: default;
  font-size: 16px;
  list-style: none;
  padding: 3px 0 15px 20px;
  transition: 0.2s linear;
  border-top: 3px solid #28323f;
}
.about .cards .card-list__item::before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  color: #ffffff;
  text-align: center;
  padding: 6px 0 0 0;
  transition: 0.3s ease;
  width: 30px;
  height: 30px;
  background: #28323f;
  left: -15px;
  top: -3px;
}
.about .cards .card-list__item:hover {
  border-top: 3px solid #ff5e00;
}
.about .cards .card-list__item:hover::before {
  background: #ff5e00;
}

.review {
  padding-bottom: 50px;
  max-width: 1300px;
  margin: 0 auto;
}
.review .container {
  position: relative;
}
.review-title {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  margin: 50px 0;
}
.review .swiper-container {
  max-width: 1250px;
}
.review .swiper-container .client {
  display: flex;
  max-width: 400px;
  background: #fbfbfb;
  flex-direction: column;
}
.review .swiper-container .client-img {
  max-width: 100px;
  height: auto;
  margin: 20px auto;
}
.review .swiper-container .client-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.review .swiper-container .client-city {
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 5px 0 15px;
}
.review .swiper-container .client-desc {
  padding: 17px 50px;
  text-align: justify;
  border-top: 1px solid #28323f;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  max-height: 350px;
  font-size: 16px;
  line-height: 1.3;
}
.review .swiper-container .client-btn {
  background: #267ac3;
  margin: 15px auto;
  padding: 15px 70px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.review .arrow-next, .review .arrow-prev {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 999;
}
.review .arrow-next .arrow-img, .review .arrow-prev .arrow-img {
  width: 25px;
  height: 25px;
}
.review .arrow-next {
  top: 45%;
  right: -15px;
}
.review .arrow-prev {
  top: 45%;
  left: -15px;
}

.port {
  padding-top: 50px;
}
.port-title {
  display: inline-block;
  margin: 0 0 50px;
  font-size: 26px;
}
.port-cards {
  display: flex;
  flex-wrap: wrap;
}
.port-cards .work-card {
  display: flex;
  color: #000000;
  background: #ffffff;
  flex-direction: column;
  max-width: 292px;
  margin-right: 40px;
  overflow: hidden;
  min-height: 400px;
  margin-bottom: 40px;
  box-shadow: 12px 19px 19px 3px rgba(0, 0, 0, 0.534);
  transition: 0.3s ease;
}
.port-cards .work-card:nth-child(4n+4) {
  margin-right: 0;
}
.port-cards .work-card:hover {
  box-shadow: 12px 19px 19px 3px rgba(255, 255, 255, 0.1);
}
.port-cards .work-card__img {
  max-width: 100%;
  height: 200px;
  transition: 0.3s ease;
}
.port-cards .work-card__img:hover {
  transform: scale(1.1);
}
.port-cards .work-card__title {
  font-size: 21px;
  color: #080808;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.port-cards .work-card-info {
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 15px;
}
.port-cards .work-card-info__img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.port-cards .work-card-info__text {
  font-size: 18px;
}
.port-cards .work-card-info__text .work-sup {
  font-size: 12px;
  vertical-align: super;
}
.port-cards .work-card__price {
  margin: auto auto 20px;
  text-align: center;
  background: #ff5e00;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px 40px;
  box-shadow: 10px 8px 11px 0px #ff5e00b7;
  cursor: default;
  border-radius: 20px;
}

.questions {
  padding-bottom: 40px;
}
.questions-title {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  margin: 50px 0;
}
.questions-block__title {
  position: relative;
  background: #dbdbdb;
  cursor: pointer;
  color: #333;
  padding: 25px 0 25px 30px;
  border-bottom: 1px solid #5c5c5c;
  transition: 0.3s ease;
}
.questions-block__title:hover {
  background: #C4C4C4;
}
.questions-block__title:before, .questions-block__title:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #333;
  top: 50%;
  transition: 0.1s ease;
}
.questions-block__title:before {
  transform: rotate(40deg);
  right: 34px;
}
.questions-block__title:after {
  transform: rotate(-40deg);
  right: 25px;
}
.questions-block__title.active:before {
  transform: rotate(-40deg);
}
.questions-block__title.active:after {
  transform: rotate(40deg);
}
.questions-block__text {
  display: none;
  color: #000000;
  background: #ffffff;
  padding: 20px 30px;
  border-bottom: 1px solid #5c5c5c;
}

.contact {
  padding-bottom: 100px;
}
.contact-title {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  margin: 50px 0;
}
.contact .form {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  max-width: 570px;
}
.contact .form-card {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 250px;
}
.contact .form-card__text {
  font-size: 18px;
  padding-bottom: 5px;
}
.contact .form-card__input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.contact .form-card__input:focus {
  border: 1px solid #ff5e00;
}
.contact .form-card-accent {
  color: #FF0000;
}
.contact .form-card:nth-child(3) {
  margin-right: 0;
}
.contact .form .feedback-card {
  margin-top: 20px;
  width: 100%;
}
.contact .form .feedback-card-area {
  resize: vertical;
  max-height: 300px;
  min-height: 200px;
}
.contact .form-btn {
  margin-top: 10px;
  margin-left: auto;
  padding: 15px 40px;
  color: #ffffff;
  background: #404e63;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.contact .form-btn:hover {
  border: 2px solid #ffffff;
}

.footer {
  height: 350px;
  background: gray;
}

.popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow: auto;
}
.popup-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.popup-wrapper .popup-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0;
}
.popup-wrapper .popup-inner .popup-content {
  position: relative;
  background: #ffffff;
  padding: 30px 0 50px;
  border-radius: 0;
  max-width: 550px;
  margin: 0 auto;
}
.popup-wrapper .popup-inner .popup-content .btn-close {
  position: absolute;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 50px;
  top: 20px;
  right: 20px;
  height: 50px;
  display: inline-block;
  transition: transform 0.2s, opacity 0.2s;
}
.popup-wrapper .popup-inner .popup-content .btn-close::before, .popup-wrapper .popup-inner .popup-content .btn-close::after {
  content: "";
  position: absolute;
  background: #d2d2d2;
  height: 40px;
  width: 3px;
  border-radius: 10px;
  border: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.popup-wrapper .popup-inner .popup-content .btn-close::before {
  transform: translateY(-50%) rotate(45deg);
}
.popup-wrapper .popup-inner .popup-content .btn-close::after {
  transform: translateY(-50%) rotate(-45deg);
}
.popup-wrapper .popup-inner .popup-content .btn-close:hover {
  transform: scale(1.1);
}
.popup-wrapper .popup-inner .popup-content .btn-close:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.popup-main .popup-wrapper .popup-inner .popup-content__title {
  display: flex;
  text-align: center;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  margin: 50px auto 30px;
  max-width: 449px;
  text-transform: uppercase;
  line-height: 30px;
  border-bottom: 3px solid #ff5e00;
}
.popup-main .popup-wrapper .popup-inner .popup-content-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.popup-main .popup-wrapper .popup-inner .popup-content-form__input, .popup-main .popup-wrapper .popup-inner .popup-content-form__area {
  padding: 15px;
  border: 2px solid #BFE2FF;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0 auto 10px;
  transition: 0.4s ease;
}
.popup-main .popup-wrapper .popup-inner .popup-content-form__input:focus, .popup-main .popup-wrapper .popup-inner .popup-content-form__area:focus {
  border: 2px solid #267ac3;
}
.popup-main .popup-wrapper .popup-inner .popup-content-form__area {
  resize: vertical;
  min-height: 150px;
  height: 200px;
  max-height: 410px;
}
.popup-main .popup-wrapper .popup-inner .popup-content-form__btn {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 15px;
  border: 3px solid #28323f;
  background: #28323f;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.3s ease;
}
.popup-main .popup-wrapper .popup-inner .popup-content-form__btn:hover {
  background: #20202D;
  border: 3px solid #20202D;
}

.popup-menu {
  z-index: 999;
}
.popup-menu .popup-wrapper .popup-inner {
  padding: 0;
}
.popup-menu .popup-wrapper .popup-inner .popup-content {
  padding: 70px 0;
  display: flex;
  background: #28323f;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}
.popup-menu .popup-wrapper .popup-inner .popup-content .menu {
  display: flex;
  padding: 70px 0 0 0;
  text-align: center;
  flex-direction: column;
}
.popup-menu .popup-wrapper .popup-inner .popup-content .menu-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s ease;
}
.popup-menu .popup-wrapper .popup-inner .popup-content .menu-link:hover {
  color: #ff5e00;
}
.popup-menu .popup-wrapper .popup-inner .popup-content .menu-item {
  list-style: none;
  margin-bottom: 25px;
}
.popup-menu .popup-wrapper .popup-inner .popup-content .phone {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 200px;
}
.popup-menu .popup-wrapper .popup-inner .popup-content .phone-img {
  max-width: 25px;
  margin-right: 10px;
}
.popup-menu .popup-wrapper .popup-inner .popup-content .phone-link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease;
}
.popup-menu .popup-wrapper .popup-inner .popup-content .phone-link:hover {
  color: #ff5e00;
}

.popup-active {
  display: block;
}

@media (max-width: 1410px) {
  .container {
    max-width: 1100px;
  }

  .lg-container {
    max-width: 1200px;
  }

  .about .cards .card {
    max-width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .about .cards .card-title {
    font-size: 18px;
  }
  .about .cards .card-list__item {
    width: 240px;
    font-size: 15px;
  }

  .review .swiper-container {
    max-width: 1050px;
  }
  .review .swiper-container .client {
    max-width: 350px;
  }

  .port-cards .work-card {
    max-width: 250px;
    margin-right: 20px;
    min-height: 400px;
    margin-bottom: 20px;
  }
  .port-cards .work-card__title {
    font-size: 18px;
  }
  .port-cards .work-card-info__img {
    width: 25px;
    height: 25px;
  }
  .port-cards .work-card-info__text {
    font-size: 16px;
  }
  .port-cards .work-card__price {
    font-size: 16px;
  }
}
@media (max-width: 1120px) {
  .container {
    max-width: 900px;
  }

  .lg-container {
    max-width: 1120px;
  }

  .header-wrapper .menu-item {
    margin-right: 15px;
  }
  .header-wrapper .menu-link {
    font-size: 15px;
  }
  .header-wrapper .phone-link {
    font-size: 15px;
  }

  .about .cards .card {
    max-width: 285px;
  }
  .about .cards .card:nth-child(3n+3) {
    margin-right: 0;
  }
  .about .cards .card:nth-child(4n+4) {
    margin-right: 20px;
  }

  .review .swiper-container {
    max-width: 850px;
  }
  .review .swiper-container .client {
    max-width: 400px;
  }

  .port-cards .work-card {
    max-width: 285px;
  }
  .port-cards .work-card:nth-child(4n+4) {
    margin-right: 20px;
  }
  .port-cards .work-card:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (max-width: 939px) {
  .container {
    max-width: 768px;
  }

  .header-wrapper .menu-item {
    margin-right: 10px;
  }
  .header-wrapper .menu-link {
    font-size: 14px;
  }
  .header-wrapper .phone-link {
    font-size: 14px;
  }

  .about .cards .card {
    max-width: 360px;
  }
  .about .cards .card:nth-child(2n+2) {
    margin-right: 0;
  }
  .about .cards .card:nth-child(4n+4) {
    margin-right: 0;
  }
  .about .cards .card:nth-child(3n+3) {
    margin-right: 20px;
  }
  .about .cards .card-list__item {
    width: 360px;
  }

  .review .swiper-container {
    max-width: 700px;
  }
  .review .swiper-container .client {
    max-width: 330px;
  }
  .review .swiper-container .client-title {
    font-size: 18px;
  }
  .review .swiper-container .client-city {
    font-size: 15px;
  }
  .review .swiper-container .client-desc {
    padding: 17px 20px;
    font-size: 16px;
  }

  .port-cards .work-card {
    min-width: 360px;
    max-width: 360px;
  }
  .port-cards .work-card:nth-child(2n+2) {
    margin-right: 0;
  }
  .port-cards .work-card:nth-child(4n+4) {
    margin-right: 0;
  }
  .port-cards .work-card:nth-child(3n+3) {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .popup-main .popup-wrapper .popup-inner {
    padding: 0;
  }

  .header-wrapper .menu {
    display: none;
  }
  .header-wrapper .phone {
    display: none;
  }
  .header-wrapper .m-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
  }
  .header-wrapper .m-menu__burger {
    width: 45px;
    height: 5px;
    background: #ffffff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .header-wrapper .m-menu__burger::before, .header-wrapper .m-menu__burger::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 5px;
    background: #ffffff;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
  }
  .header-wrapper .m-menu__burger::before {
    transform: translateY(-16px);
  }
  .header-wrapper .m-menu__burger::after {
    transform: translateY(16px);
  }

  .main-wrapper {
    max-width: 620px;
    margin-left: 50px;
  }
  .main-title {
    font-size: 28px;
    padding-top: 70px;
    margin-bottom: 30px;
  }
  .main-ol-li {
    padding: 15px 0 15px 25px;
    font-size: 15px;
    max-width: 100%;
  }
  .main-ol-li::before {
    top: 9px;
  }
  .main-ol-li::after {
    top: 9px;
  }

  .about {
    padding-top: 40px;
  }
  .about-title {
    margin: 0 auto 40px;
    max-width: 498px;
    font-size: 24px;
  }
  .about-desc, .about .second-desc {
    font-size: 16px;
  }
  .about .second-title {
    margin: 40px 0 20px;
    font-size: 24px;
  }
  .about .services-title {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 24px;
    padding-top: 50px;
  }
  .about .cards .card {
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 255px;
  }
  .about .cards .card:nth-child(2n+2) {
    margin-right: 0;
  }
  .about .cards .card:nth-child(4n+4) {
    margin-right: 0;
  }
  .about .cards .card:nth-child(odd) {
    margin-right: 20px;
  }
  .about .cards .card-title {
    padding: 8px 0;
  }
  .about .cards .card-list__item {
    width: 220px;
    padding: 3px 0 10px 20px;
  }

  .review {
    padding-bottom: 30px;
    max-width: 520px;
    margin: 0 auto;
  }
  .review-title {
    font-size: 24px;
    margin: 40px 0;
  }
  .review .swiper-container {
    max-width: 450px;
  }
  .review .swiper-container .client {
    max-width: 100%;
  }
  .review .swiper-container .client-img {
    margin: 10px auto;
  }
  .review .swiper-container .client-city {
    padding: 5px 0 10px;
  }
  .review .swiper-container .client-desc {
    padding: 15px 25px;
    font-size: 14px;
  }
  .review .swiper-container .client-btn {
    display: none;
  }

  .port-title {
    margin: 0 0 30px;
    font-size: 24px;
  }
  .port-cards .work-card {
    min-height: 400px;
    width: 260px;
    min-width: 200px;
  }
  .port-cards .work-card:nth-child(2n+2) {
    margin-right: 0;
  }
  .port-cards .work-card:nth-child(4n+4) {
    margin-right: 0;
  }
  .port-cards .work-card:nth-child(3n+3) {
    margin-right: 20px;
  }
  .port-cards .work-card__title {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .port-cards .work-card-info {
    padding: 0 30px;
    margin-bottom: 10px;
  }

  .questions {
    padding-bottom: 20px;
  }
  .questions-title {
    font-size: 24px;
    margin: 40px 0 30px;
  }
  .questions-block__title {
    padding: 20px 0 20px 20px;
    font-size: 14px;
  }

  .contact {
    padding-bottom: 80px;
  }
  .contact-title {
    font-size: 24px;
    margin: 40px 0 30px;
  }
  .contact .form {
    max-width: 520px;
  }
  .contact .form-card {
    margin-right: 30px;
    width: 230px;
  }
  .contact .form-card__text {
    font-size: 16px;
    padding-bottom: 7px;
  }
  .contact .form-btn {
    font-size: 14px;
  }

  .footer {
    height: 250px;
  }
}
@media (max-width: 620px) {
  .main-ol-li {
    padding: 17px 0 17px 20px;
    font-size: 12px;
    max-width: 460px;
  }
  .main-ol-li::before {
    padding-top: 8px;
  }
}
@media (max-width: 550px) {
  .container {
    max-width: 340px;
  }

  .header {
    height: 60px;
  }
  .header-wrapper .logo {
    height: 60px;
  }

  .main-wrapper {
    max-width: 100%;
    margin-left: 50px;
  }
  .main-title {
    font-size: 22px;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  .main-ol-li {
    padding: 12px 0 12px 30px;
    font-size: 13px;
    margin-bottom: 13px;
    max-width: 280px;
  }
  .main-ol-li::before {
    padding-top: 7px;
    top: 5px;
    left: -40px;
  }
  .main-ol-li::after {
    top: 5px;
  }
  .main-btn {
    border: 2px solid #ffffff;
    font-size: 13px;
  }

  .about {
    padding-top: 20px;
  }
  .about-title {
    margin: 0 auto 20px;
    max-width: 333px;
    font-size: 16px;
  }
  .about-desc, .about .second-desc {
    font-size: 14px;
  }
  .about .second-title {
    margin: 30px 0 20px;
    font-size: 16px;
  }
  .about .services-title {
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 30px;
  }
  .about .cards {
    justify-content: center;
  }
  .about .cards .card {
    max-width: 90%;
    margin-right: 0;
  }
  .about .cards .card:nth-child(odd) {
    margin-right: 0;
  }
  .about .cards .card-list__item {
    width: 340px;
  }

  .review {
    padding-bottom: 50px;
    max-width: 340px;
    margin: 0 auto;
  }
  .review-title {
    font-size: 16px;
    margin: 40px 0 20px;
  }
  .review .swiper-container {
    max-width: 290px;
  }
  .review .swiper-container .client-desc {
    padding: 10px 15px;
  }

  .port {
    padding-top: 0;
  }
  .port-title {
    margin: 0 0 30px;
    font-size: 16px;
  }
  .port-cards {
    justify-content: center;
  }
  .port-cards .work-card {
    width: 90%;
    margin-right: 0;
    min-height: 400px;
  }
  .port-cards .work-card:nth-child(4n+4) {
    margin-right: 0;
  }
  .port-cards .work-card:nth-child(3n+3) {
    margin-right: 0;
  }

  .questions-title {
    font-size: 16px;
    margin: 30px 0 20px;
  }
  .questions-block__title {
    font-size: 14px;
    padding: 15px 50px 15px 30px;
  }
  .questions-block__text {
    font-size: 14px;
  }

  .contact-title {
    font-size: 16px;
    margin: 30px 0 20px;
  }
  .contact .form {
    max-width: 570px;
  }
  .contact .form-card {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .contact .form-card__text {
    font-size: 14px;
  }
  .contact .form-card__input {
    padding: 10px;
    font-size: 12px;
  }
  .contact .form .feedback-card {
    margin-top: 0;
  }
  .contact .form-btn {
    margin-top: 0;
    padding: 15px 35px;
    font-size: 14px;
  }

  .footer {
    height: 230px;
  }
}
@media (max-width: 330px) {
  .review {
    max-width: 300px;
  }
  .review .swiper-container {
    max-width: 260px;
  }
}